[Dd]ebug
[Rr]elease
x64
ipch
/*.opensdf
/*.sdf
/*.suo
/CodeAnalyst
/setup_win/Output
/utv_core/Coefficient.exe
/utv_core/Coefficient.obj
/utv_dmo/utv_dmo.h
/utv_dmo/utv_dmo_i.c
.DS_Store
DerivedData
utvideo.xcodeproj/project.xcworkspace
utvideo.xcodeproj/xcuserdata
/utvideo-*-src.zip
*.aps
/*.opendb
/*.db
/.vs
/testclip
/test*.xml
